[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[scripts]
build = "pyproject-build"
install_pre_commit = "pre-commit install --hook-type commit-msg"

[requires]
python_version = "3.10"

